head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Musician
  link(rel='stylesheet' href='/CSS/bootstrap-css/bootstrap.min.css')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
  link(rel='stylesheet' href='/CSS/Artistform.css')
nav#navbar.navbar.navbar-expand-lg.navbar-light.bg-light
  #nav-bar.container-fluid
    nav.navbar.navbar-light.bg-light
      .container
        a.navbar-brand(href='#')
          img(src='/images/logo.PNG' alt='' width='160px' height='60')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current='page' href='#') Home
        li.nav-item
          a.nav-link(href='musicians.html') Musicians
        li.nav-item
          a.nav-link(href='Bands.html') Bands
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Performing Artists
          ul.dropdown-menu(aria-labelledby='navbarDropdown')
            li
              a.dropdown-item(href='drama.html') Dramatists
            li
              a.dropdown-item(href='comedy.html') Comedians
            li
              hr.dropdown-divider
            // <li><a class="dropdown-item" href="document.html">Documentary Creators</a></li>
        //
          <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
          </li>
      form.d-flex
        input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
        button.btn.btn-outline-success(type='submit') Search
.container
  form#musicians-form.Musician_form(name='musiciansregistration' action="/artistform" method="POST" enctype='multipart/form-data'  )
    h2 Artist&apos;s Form
    .form-control
      label(for='firstname') First Name:
      br
      input.first_name(type='text' placeholder='first-name' name='firstname')
      br
    small#firstname-error
    .form-control
      label(for='lastname') Last Name:
      br
      input.last_name(type='text' placeholder='last-name' name='lastname')
      br
    small#lastname-error
    .form-control
      label(for='stagename') Stage name:
      br
      input.stagename(type='text' placeholder='stagename' name='stagename')
      br
    small#stagename-error
    .form-control
      label(for='DOB') Date of birth:
      br
      input.DOB(type='date' placeholder='Date Of Birth' name="dateofbirth" )
      br
    small#dob-error
    .form-control
      label(for='gender' name="gender") Gender:
      br
      select
        | Gender
        option(value='Male' name='gender') Male
        option(value='Female' name="gender" ) Female
      br
    .form-control
      label(for='Profile') Profile:
      br
      select(name='Type' id='')
        | Type
        option(value='Musician' name="profile" ) Musician
        option(value='dramatists' name="profile" ) Dramatists
        option(value='Comedians' name="profile" ) Comedians
        
    .form-control
      label(for='Location') Base:
      br
      input.location(type='text' placeholder='City' name="base" )
      br
    small#location-error
    .form-control
      label(for='Location') Location:
      br
      input.location(type='text' placeholder='Address' name="location")
      br
    small#location-error
    .form-control
      label(for='Albums') Number of Albums:
      br
      input.Albums(type='text' placeholder='Number of Albums' name = "numberofalbums")
      br
    small#album-error
    .form-control
      label(for='nin') NIN:
      br
      input.nin(type='text' placeholder='NIN' name='nin')
      br
    small#nin-error
    .form-control
      label(for='') Icon
      input.icon(type='file' accept='.jpg, .jpeg, .png' name='icon')
      br
    small#icon-error
    .form-control
      label(for='Id') Artist ID:
      br
      input.ID(type='text' placeholder='eg ozy12mux' name='id')
      br
    small#id-error
    .form-control
      label(for='Date') Date You Start Singing:
      br
      input.DOB(type='date' placeholder='Date you Start singing' name="datestartedsinging" )
      br
    small#dob-error
    input(type='submit' value='Submit')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
script(src='/js/form.js')
