doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Bootstrap CSS
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
  link(rel='stylesheet' href='./bootstrap-5.1.3-dist/css/bootstrap.min.css')
  link(rel='stylesheet' href='./bootstrap-5.1.3-dist/css/bootstrap.min.css')
  link(rel='stylesheet' href='/index.css')
  link(rel='stylesheet' href='/public/CSS/comedy.css')
  style.
    /* .banner-image {
    background-image: url('/images/background2.jpg');
    background-size: cover;
    } */
  title UGAAMUX
nav#navbar.navbar.navbar-expand-lg.navbar-light.bg-light
  #nav-bar.container-fluid
    nav.navbar.navbar-light.bg-light
      .container
        a.navbar-brand(href='#')
          img(src='/images/logo.PNG' alt='' width='160px' height='60')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current='page' href='index.html') Home
        li.nav-item
          a.nav-link(href='musicians.html') Musicians
        li.nav-item
          a.nav-link(href='bands.html') Bands
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Performing Artists
          ul.dropdown-menu(aria-labelledby='navbarDropdown')
            li
              a.dropdown-item(href='drama.html') Dramatists
            li
              a.dropdown-item(href='comedy.html') Comedians
            li
              hr.dropdown-divider
            // <li><a class="dropdown-item" href="document.html">Documentary Creators</a></li>
        //
          <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
          </li>
      form.d-flex
        input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
        button.btn.btn-outline-success(type='submit') Search
.container
  .row
    .col
    .col
.container1
  .row
    .col
      .card.h-100
        img.card-img-top(src='/public/images/Comedians/kansiime.jfif' alt='...')
        .card-body
          h5.card-title Kansiime
          p.card-text
            | Kansiime Kubiryaba Anne and popularly known as Anne Kansiime, is a Ugandan entertainer, comedian, and actress. She has been referred to as &quot;Africa&apos;s Queen of Comedy&quot; by some African media outlets.
    .col
      .card.h-100
        img.card-img-top(src='/public/images/Comedians/Pablo.jfif' alt='...')
        .card-body
          h5.card-title Pablo
          p.card-text
            | Kenneth Kimuli Amooti (born 23 September 1978) is a Ugandan comedian, playwright and journalist. He is well known as Pablo in the Ugandan comedy circles.
    .col
      .card.h-100
        img.card-img-top(src='/public/images/Comedians/teacher mpaamiire.jfif' alt='...')
        .card-body
          h5.card-title Teacher Mpamire
          p.card-text
            | Herbert Mendo Ssegujja (born 27 September 1983), is a Ugandan comedian, actor and high school teacher. He is most famous for mimicking the Ugandan president, Yoweri Kaguta Museveni. He assumes the stage name Teacher Mpamire
    .col
      .card.h-100
        img.card-img-top(src='/public/images/Comedians/uncle mo.jfif' alt='...')
        .card-body
          h5.card-title Uncle Mo
          p.card-text
            | Moses Kiboneka, also known as Uncle Mo, says comedy came as an alternative when work at his garage had come to a standstill due to the disruptions caused by Covid-19 
            br
            | He populary refers to himself as Makanika from Kireka translated as Mechanic from Kireka(city surburb)
    .col
      .card.h-100
        img.card-img-top(src='/public/images/Comedians/Salvador.jfif' alt='...')
        .card-body
          h5.card-title Salvador 
          p.card-text
            | Patrick Idringi (born 14 February 1985), known as Patrick Salvado, is a Ugandan comedian, actor, master of ceremonies, radio personality and engineer.
    .col
      .card.h-100
        img.card-img-top(src='/public/images/Comedians/richard.jfif' alt='...')
        .card-body
          h5.card-title Richard Tuwangye
          p.card-text
            | Richard Tuwangye (born 16 October 1980) is a Ugandan actor, comedian, and musician. 
            br
            |  He is a founding member of Fun Factory
    .col
      .card.h-100
        img.card-img-top(src='/public/images/Comedians/alex muhangi.jfif' alt='...')
        .card-body
          h5.card-title Alex Muhangi
          p.card-text
            | Alex Emix Muhangi, commonly known as Alex Muhangi, is a Ugandan comedian, actor sound engineer, director and host of the comedy show, Comedy Store Uganda. 
            br
            |  He was listed as one of the top 10 Ugandan comedians and personalities in 2016 and 2017 by New Vision
    .col
      .card.h-100
        img.card-img-top(src='/public/images/Comedians/mariach.jfif' alt='...')
        .card-body
          h5.card-title MC Mariach
          p.card-text
            | Real names: Charles Kasozi 
            br
            |  He describes himself as &apos;Mr Potable&apos; due to his slim stature. 
            br
            |  one of the talented, trending and fast-growing comedians. Mariachi&lsquo;s demand is high and this is seen in various comedy shows he headlines and how he makes the audience especially the ladies to eat out of his palm.
            |                   While on stage Kasozi wears a chatterbox, mad and dramatic persona and the demand for his comedy clips on social media explains the kind of brand he has built for himself.
    .col
      .card.h-100
        img.card-img-top(src='/public/images/Comedians/madrat.jfif' alt='...')
        .card-body
          h5.card-title Madrat and Chiko
          p.card-text
            | Madrat and Chiko are two Stand-up comedians from Uganda that perform as a duo. Their real names are Dickson Lubega &amp; Frank Mubiru respectively
  script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js' integrity='sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js' integrity='sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13' crossorigin='anonymous')
