<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <link rel="stylesheet" href="./bootstrap-5.1.3-dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="./bootstrap-5.1.3-dist/css/bootstrap.css">

     <link rel="stylesheet" href="/public/CSS/musicians.css">
     <style>
      /* .banner-image {
        background-image: url('/images/background2.jpg');
        background-size: cover;
      } */
    </style>
     <title>UGAAMUX</title>
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <div class="container-fluid" id="nav-bar">
            <nav class="navbar navbar-light bg-light">
                <div class="container">
                  <a class="navbar-brand" href="#">
                    <img src="/images/logo.PNG" alt="" width="160px" height="60">
                  </a>
                </div>
              </nav>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="musicians.html">Musicians</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Bands.html">Bands</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Performing Artists
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="drama.html">Dramatists</a></li>
                  <li><a class="dropdown-item" href="comedy.html">Comedians</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <!-- <li><a class="dropdown-item" href="document.html">Documentary Creators</a></li> -->
                </ul>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li> -->
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      
      <div class="container1" name="Dancehall" >
        <h2>Dancehall</h2>
        <div class="row">
          <div class="col">
            <div class="card">
              <img src="/public/images/musicians/Azawi.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Azawi</h5>
                <p class="card-text">Zawedde Priscilla alias Azawi is a 24-year-old multi-talented singer-songwriter, signed in 2019 by Swangz Avenue.  </p>
                <h6>Songs:16</h6>
                <a href="https://www.howwebiz.ug/Azawi/biography" class="card-link">More About Her</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="/public/images/musicians/bennie.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Beenie Gunter </h5>
                <p class="card-text">Baguma Crescent, popularly known as Beenie Gunter, is a Ugandan reggae dancehall artist, commonly known for his hit songs Pon Mi and Olina Work,</p>
                <h6>Songs: 32</h6>
                
              </div>
            </div>
          
          </div>
          <div class="col">
            <div class="card">
              <img src="/public/images/musicians/Sheebah.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Sheebah</h5>
                <p class="card-text">Sheebah Karungi (born November 11, 1989) is a Ugandan musician, dancer and actress who debuted her acting career in Queen of Katwe as Shakira. After quitting Obsessions, a dance group she joined in 2006, she rose to recognition upon the release of her hit single "Ice Cream". </p>
                <h6>Songs: 25</h6>
                <H6>Albums:3</H6>
                <a href="https://en.wikipedia.org/wiki/Sheebah_Karungi" class="card-link">More About Her</a>

              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="/public/images/musicians/WINNIE.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Winnie Nwagi</h5>
                <p class="card-text">Winnie Nakanwagi (born July 20, 1989) is an A-list Ugandan singer and songwriter. Known professionally as Winnie Nwagi,</p>
                <h6>Songs: 31</h6>
                <H6>Albums:2</H6>
              </div>
            </div>
          </div>
          
            <div class="col">
              <div class="card">
                <img src="/public/images/musicians/APASS.jfif" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">APASS</h5>
                  <p class="card-text">Bagonza Alexander born December 21, 1989, in Kampala, Uganda is a singer-songwriter .A Pass has enjoyed tremendous success on both the Reggae and Dancehall music charts. He is a highly versatile dancehall reggae artiste who performs four different genres of music.</p>
                  <h6>Songs: 32</h6>
                  <H6>Albums:1</H6>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/public/images/musicians/Kenzo.jfif" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Eddy Kenzo</h5>
                  <p class="card-text">Edrisah Musuuza, known professionally as Eddy Kenzo, is a Ugandan singer and music executive who is a founder and a member of Big Talent Entertainment.</p>
                  <h6>Songs: 71</h6>
                  <H6>Albums:8</H6>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/public/images/musicians/Cindy.jfif" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Cindy</h5>
                  <p class="card-text">Cinderella Sanyu (professionally known as Cindy or Cindy Sanyu) is a Ugandan musician. She was one of the original members of Blu*3 which also consisted of Lilian Mbabazi and Jackie Chandiru</p>
                   <h6>Songs: 34</h6>
                   <h6> Albums: 2</h6>
                   <a href="https://en.wikipedia.org/wiki/Cindy_Sanyu" class="card-link">More About Her</a>
                </div>
              </div>
            </div>
           
         
        </div>
      </div>

      <div class="container2" name="gospel" >
        <h2>Gospel</h2>
        <div class="row ">
          <div class="col">
            <div class="card h-100">
              <img src="/public/images/musicians/Wilson.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Pr.Wilson Bugembe</h5>
                <p class="card-text">Wilson Bugembe is a Ugandan gospel musician[1] and pastor at "Light the World Ministries" in Nansana Wakiso District, Uganda.</p>
                <h6>Songs: 32</h6>
                <h6>Albums: 7</h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/public/images/musicians/judith babirye.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Judith Babirye</h5>
                <p class="card-text">Judith Babirye is a Ugandan gospel musician and politician.She is a senior pastor at "New Life Deliverance Church", in Makindye Division, in the southeastern part of Kampala, Uganda's capital city.</p>
                <h6>Songs: 32</h6>
                <h6>Albums: 16</h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/public/images/musicians/COOPY BLY.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Coopy Bly</h5>
                <p class="card-text">Coopy Bly  real names Emmanuel Edwin Kusaasira  is a multi award winning gospel artist from Kampala Uganda. Specializing in the genres of Reggae, Dancehall and Raga, the highly celebrated artist is known for hit songs such as Sidda Mukyalo, Nyweza, What a Love and Akikwasaganya. </p>
                <h6>Songs: 25</h6>
                
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/public/images/musicians/Grace Nakimera.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Grace Nakimera</h5>
                <p class="card-text">Grace Nakimera is a Ugandan gospel musician, dancer, composer, and songwriter.</p>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="container3">
        <div class="row " name="kadongokamu" >
         <h2>Kadongo Kamu</h2>
          <div class="col">
            <div class="card">
              <img src="/public/images/musicians/Paul Kafeero.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Paulo Kafeero</h5>
                <p class="card-text">Prince Paulo Kafeero born Paul Job Kafeero (12 July 1970 - 17 May 2007) was a celebrated Ugandan Afro-folk singer. <br> During his career as a musician, Kafeero won several prestigious awards. In both 2003 and 2004, Kafeero won the PAM Awards for best Kadongo Kamu artist/group.</p>
                 <h4>Songs:59</h4>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="/public/images/musicians/Herman Basude.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Herman Basudde</h5>
                <p class="card-text">Herman Basudde (1958–1997) was a Ugandan kadongo kamu musician. Basudde was born in Masaka District, in southern Uganda.</p>
                <p class="card-text">Songs: 58</p>
                <a href="#" class="card-link">More About Him</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="/public/images/musicians/Fred Ssebata.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Fred Ssebata</h5>
                <p class="card-text">Lord Fred Sebatta is a renown talented Ugandan Kadongo Kamu singer. He is an experienced, lyrically, instrumentally and vocally gifted artist and the founder of one of Uganda’s ever biggest Kadongo Kamu band groups ‘Matendo Band’.</p>
                <p class="card-text">Songs: 32</p>
              </div>
            </div>
          </div>
        
        </div>
      </div>
     






    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
   
  </body>
</html>