.card{
    width: 300px;
    
    border-radius: 60px;
    margin: 10px;
}
.card-img-top{
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
 }
h5{
  color: rgb(12, 121, 43);
 }
 .card{
    width: 280px;
    border-radius: 060px;
  }
  .card-img-top{
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
 
  .col{
    /* background-color: rgb(207, 238, 238); */
   
  }
  .container{
    background: rgb(138, 255, 127);
    padding: 2px;
  }